/* Tailwind directives are handled via CDN in index.html */
/* This file can be used for any custom styles if needed */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
